<!DOCTYPE html>
<html>
<head>
    <title>{{pair}}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h1>📊 {{pair}} ANALYSIS</h1>

    <div class="menu">
        <div class="card">📈 Analisa Teknikal</div>
        <div class="card">📚 Edukasi</div>
        <div class="card">📰 News Impact</div>
        <div class="card">📊 Intraday</div>
        <div class="card">⚡ Scalping Signal</div>
    </div>

    <br>

    <a class="back" href="/dashboard">⬅ Kembali</a>

</div>

</body>
</html>
