<!DOCTYPE html>
<html>
<head>
    <title>Login Member</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h1>🔐 MEMBER ACCESS</h1>

    <form method="post">
        <input type="text" name="code" placeholder="Masukkan kode akses" required>
        <br><br>
        <button type="submit">MASUK</button>
    </form>

    {% if error %}
    <p class="error">{{error}}</p>
    {% endif %}

    <p class="info">
        Belum punya kode?
        <br>
        <a href="https://t.me/ADMOnePercentsFX" target="_blank">
            Hubungi Admin Telegram
        </a>
    </p>

</div>

</body>
</html>
